body{
    margin: 0;
    padding: 0;
    font-size: 16pt; /* test for this! Make all sizes em or rem */
    font-family: 'Alegreya Sans SC', serif;
    background-color: #f1f1f1;
    background-image: url(../images/concrete_seamless.png);
  }
  
  header{
    background: #fff;
    border-bottom: 3px solid #50C7C7;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  
  h1{
    font-size: 2em;
    text-align: center;
    line-height: 2;
  }
  
  h2{
    font-size: 1.5em;
    text-align: center;
    padding: 5px;
  }

  a:link, a:visited {
    color: blue;
  }
  
  p {
    padding: 0 30px;
  }
  
  a.skip{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 2;
  }
  
  a.skip:focus{
    top:20px;
    color: black;
    text-decoration-style: solid;
  }
  
  *:focus{
    border: 2px solid black;
  }

  .nav_item a{
    padding: 10px;
  }
  
  .nav_item a:hover, a:focus{
    color: #50C7C7;
    text-decoration: underline;
    -webkit-text-decoration-style: dotted;
            text-decoration-style: dotted;
  }

  .nav_links{
    display: flex;
    flex-direction: column;
  }

  .pricing{
    min-height: 475px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card {
    margin: 12px;
    background: #fff;
    padding: 0 0 25px 0;
    flex-basis: 450px;
    border-radius: 7px 7px 0px 0px;
  }

  .card > ul{
    list-style: none;
    padding-left: 5px;
  }
  
  .card > ul li {
    width: 90%;
    margin: 20px auto;
    
  }

.card button{
    width: 90%;
    height: 40px;
    border: 0;
    margin-left: 5%;
    border-radius: 7px;
    background: #288080;
    color: white;
    font-size: 1em;
  }
  
  .card h3{
    font-size: 4em;
    color: white;
    text-align: center;
  }
  
  .card_big{
    -webkit-transform: initial;
            transform: initial;
  }

  .gallery{
    min-height: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .gallery img {
    border: 10px solid #50C7C7;
    margin: 10px;
    width: 300px;
    max-height: 300px;
  }
  
  footer{
    background-color: black;
    color: white;
    padding: 30px;
    text-align: center;
  }

  .card header {
    background-color: #288080;
    border: 2px solid #45ADAD;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 7px 7px 0px 0px;
  }

  #logo {
    animation-name: logoAnimate;
    animation-duration: 5s;
  }

  @keyframes logoAnimate {
    from {
      opacity: 0;
      width: 50px;
    }

    to {
      opacity: 1;
      width: 425px;
    }
  }

  @media screen and (min-width: 850px){
    
    .card_big{
        -webkit-transform: scaleY(1.1);
        transform: scaleY(1.1);
        z-index: -99;
    }

    header{
      flex-direction: row;
      justify-content: space-between;
      position: sticky;
      top: 0;
      z-index: 1;
      scroll-margin-top: 1em;
    }

    .nav_links {
      flex-direction: row;
      justify-content: space-between;
    }

    .card header {
      background-color: #288080;
      border: 2px solid #45ADAD;
      padding-top: 20px;
      padding-bottom: 20px;
      border-radius: 7px 7px 0px 0px;
      position: relative;
      z-index: 0;
    }

    .card{
      flex-basis: 250px;
    }

}

@media (prefers-reduced-motion) {
  #logo {
    animation-name: none;
    animation-duration: 0s;
  }
}

@media print {
  
  body {
    background-image: none;
  }

  header {
    flex-direction: column;
  }

  .nav_links {
    justify-content: space-around;
  }

  .pricing {
    align-content: flex-end;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .card{
    border: 2px solid #45ADDD;
    flex-basis: 250px;
  }

  .card header {
    background-color: #288080;
    border: 2px solid #45ADAD;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    z-index: 0;
  }

  .gallery{
    display: none;
  }

  #gallery{
    display: none;
  }

  .pricing li:nth-child(2n):after{
    content: "👍";
  }

  .pricing li:nth-child(2n + 1):before{
    content: "👍";
  }

}
  
